asgiref
crispy-bootstrap5
crispy-tailwind
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
filelock
mysql-connector-python
pillow
platformdirs
protobuf
psycopg2
psycopg2-binary
sqlparse
typing_extensions
tzdata
virtualenv